:root {
    --preview-width: 90px;
}

.folder, .funcBtn { text-decoration: underline; }

.folder, .funcBtn, .file {
    cursor: pointer;
    padding: 10px 0;
}

.folder:hover, .funcBtn:hover, .file:hover {
    color: #33ffb4;
}

.funcBtn, .file { color: #00ff37; }

.folder { color: #e3ff00; }

.upload {
    margin: 0 0 0 20px;
    border-width: 8px;
}
.folder, .file, .funcBtn, .upload {
    font-size: 36px;
}

td {
    /* white-space: nowrap; */
    text-align: center;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

/* 偶数行添加背景色 */
tbody > tr:nth-child(even of :not([style*="display: none"])) {
    background-color: #343434;
}

colgroup > col:nth-child(1) {width: 100%;}
colgroup > col:nth-child(2) {width: var(--preview-width);}
colgroup > col:nth-child(3) {width: 80px;}
colgroup > col:nth-child(4) {width: 166px;}
colgroup > col:nth-child(5) {width: 200px;}

.th-bg {
    background-color: #808080e0;
}

thead td {
    background: #5b585847;
    backdrop-filter: blur(88px);
}

tbody tr:hover, thead tr:nth-of-type(3):hover {
    background-color: #04fb0436;
}
table {
    /* 超出宽度自动隐藏 */
    table-layout: fixed;
    width: 100%;
}
table td:nth-of-type(1) {
    text-align: left; 
    padding-left: 5px;
    word-break: break-word;
    /* overflow-wrap: break-word; */
}

.preview {
    max-height: calc(var(--preview-width) * 2);
    max-width: var(--preview-width);
}

.fix-th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.msgBox {
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    top: 2vw;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: 0px 1vw 0 2vw;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    font-size: 3vw;
}

.msgBoxLine {
    margin: 1vw 0 0 0;
    padding: 0 1vw;
    width: fit-content;
    border-radius: 1vw;
}

.close {
    position: sticky;
    top: 1vw;
    float: right;
    border-radius: 1vw;
    line-height: 100%;
    font-size: 6vw;
}