/* 竖排 + 非hover */
@media (orientation: portrait) and (hover: none) {
}

:root {
    --preview-width: 90px;
}

.path {
    margin: 0 5px 0 0;
    min-width: 30px;
    border-radius: 5px;
    padding: 0px 6px;
}

.upload {
    margin: 0 10px 0 0;
    border-width: 3px;
    line-height: 16px;
}

#main td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top {
    text-align: left; 
    padding-left: 5px;
    white-space: normal;
}

.col-no { width: 50px; text-align: right; }
.col-name { width: 100%; text-align: left; padding-left: 5px; }
.col-preview { width: var(--preview-width); }
.col-size { width: 80px; }
.col-time { width: 166px; }
.col-operate { width: 86px; }

#main {
    /* 超出宽度自动隐藏 */
    table-layout: fixed;
    width: 100%;
}

.name-btn {
    /* background-color: #959090; */
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

.preview {
    max-height: calc(var(--preview-width) * 2);
    max-width: var(--preview-width);
}

.fix-th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.funcBtn:not(:last-child) {
    margin-right: 3px;
}

.msgBox {
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: 0px 10px 0px 0px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

.msgBoxLine {
    margin: 3px 0 0 0;
    padding: 4px 8px;
    border-radius: 3px;
}

.close {
    position: sticky;
    float: right;
    top: 10px;
    padding: 0px 5px;
    border-radius: 5px;
    /* line-height: 100%; */
    font-size: 18px;
}