<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <!-- 初始缩放 -->
    <meta name="viewport" content="initial-scale=0.7">
    <title>FILE SYSTEM</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/theme.css"/>
    <link rel="stylesheet" href="css/icon.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div id="app" class="pic-main">
    <link v-if="isMobile" rel="stylesheet" href="css/phone.css"/>
    <div v-if="picMode" class="pic-header">
        <button class="upload" @click="uploadFile(true)">上传</button>
        <span @click="toggleShowHidden" class="name-btn" :class="showHidden ? 'name-btn-sel' : ''">显隐</span>
        <span @click="togglePicMode" class="name-btn" :class="picMode ? 'name-btn-sel' : ''">图片模式</span>
        <span @click="sortClick('name')" class="name-btn icon" :class="getSortIcon('name')">名称</span>
        <span @click="sortClick('size')" class="name-btn icon" :class="getSortIcon('size')">大小</span>
        <span @click="sortClick('time')" class="name-btn icon" :class="getSortIcon('time')">时间</span>
        <br v-if="isMobile">
        <span v-for="(row, i) in pagePath" class="folder path" :class="i == 0 ? 'first-path' : ''" @click="gotoPagePath(i)">{{row}}</span>
        <span v-html="msg"></span>
    </div>
    <div v-if="picMode" class="pic-body" @wheel="picBodyScroll">
        <div v-for="(row, i) in files" class="pic-item">
            <div class="pic-preview" @click="clickName(row)" v-html="row.preview"></div>
            <div v-if="!row.dir" class="pic-size">{{row.sizeStr}}</div>
            <!-- <div class="pic-time">{{row.timeStr}}</div> -->
            <div class="pic-name">{{row.name}}</div>
        </div>
    </div>
    <table v-if="!picMode" id="main">
        <!-- 添加这个dom 解决首行跨列导致的宽度失效 -->
        <colgroup>
            <!-- <col class="col-preview"> -->
            <col class="col-name">
            <col class="col-size">
            <col class="col-time" v-if="!isMobile">
            <col class="col-operate">
        </colgroup>
        <thead class="fix-th">
            <tr><td colspan="6" class="top">
                <span v-for="(row, i) in pagePath" class="folder path" :class="i == 0 ? 'first-path' : ''" @click="gotoPagePath(i)">{{row}}</span> 
                <span v-html="msg"></span>
            </td></tr>
            <tr class="th-bg">
                <!-- <td>预览</td> -->
                <td class="col-name">
                    <span @click="sortClick('name')">名称</span>
                    <span @click="toggleShowHidden" class="name-btn" :class="showHidden ? 'name-btn-sel' : ''">显隐</span>
                    <span @click="togglePicMode" class="name-btn" :class="picMode ? 'name-btn-sel' : ''">图片模式</span>
                    <!-- <button class="upload" @click="uploadFile()">上传</button>  -->
                    <button class="upload" @click="uploadFile(true)">上传</button> 
                </td>
                <td><span @click="sortClick('size')">大小</span></td>
                <td v-if="!isMobile"><span @click="sortClick('time')">修改时间</span></td>
                <td>操作</td>
            </tr>
            <tr><td class="path-prev folder col-name" @click="folderLeave()" colspan="5">..</td></tr>
        </thead>
        <tbody>
            <tr v-for="(row, i) in files">
                <!-- <td v-html="row.preview" class="col-preview"></td> -->
                <td :title="row.name" @click="clickName(row)" class="col-name tb-name">
                    <span v-html="row.preview"></span>
                    <span :style="{fontSize: isMobile && row.nameLen > 32 ? '12px' : ''}" :class="row.dir ? 'folder' : 'file'" >{{row.name}}</span>
                </td>
                <td>{{row.sizeStr}}</td>
                <td v-if="!isMobile">{{row.timeStr}}</td>
                <td v-if="row.fsType=='folder'">-</td>
                <td v-else>
                    <span class="funcBtn" @click="openText(row)">文本</span>
                    <span class="funcBtn" @click="downloadFile(row.name)">下载</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="msgBox" v-show="msgList.length > 0">
        <div class="close" @click="msgList=[]">✘</div>
        <ol><li class="msgBoxLine" v-for="(row, i) in msgList" v-html="row"></li></ol>
    </div>

</div>
</body>

<script src="js/config.js?1"></script>
<!-- <script>includeCss('css/main.css', 'css/main-phone.css?v=1.9')</script> -->
<script src="js/vue3.global.js"></script>
<script src="js/main.js"></script>

<!--<script src="https://resource.liuyao.link/js/effect/mouseGerm.js"></script>-->
<!--<script src="https://resource.liuyao.link/js/effect/bgRgbDown.js"></script>-->

</html>