:root {
    --preview-width: 90px;
    --bottom-padding: 16vw;
}

#app {
    padding-bottom: calc(var(--bottom-padding) + 1vw);
}

.folder, .funcBtn, .file {
    cursor: pointer;
    padding: 10px 0;
}

.upload {
    margin: 0 0 0 1vw;
    border-width: 0.5vw;
    line-height: 4vw;
}
.folder, .file, .funcBtn, .upload {
    font-size: 3.6vw;
}

.funcBtn { margin: 0 0.3vw; }

.path {
    margin: 0 1vw 1vw 0;
    min-width: 10vw;
    border-radius: 1vw;
    padding: 0px 1.5vw;
    font-size: 5vw;
}
.path-prev {
    position: fixed;
    bottom: 2vw;
    width: 20vw !important;
    text-align: center !important;
    height: 6vw;
    line-height: 2vw;
    border-radius: 2vw;
}

td {
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.top {
    text-align: left; 
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--bottom-padding);
    padding-top: 1vw;
}

.col-no { display: none; }
.col-name {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    word-break: break-word;
    /* overflow-wrap: break-word; */
}
.col-preview { width: var(--preview-width); }
.col-size {width: 80px;}
.col-time {width: 166px;}
.col-operate {width: 16vw;}

table {
    /* 超出宽度自动隐藏 */
    table-layout: fixed;
    width: 100%;
}

/* 偶数行添加背景色 */
tbody > tr:nth-child(even of :not([style*="display: none"])) {
    background-color: #343434;
}

.preview {
    max-height: calc(var(--preview-width) * 2);
    max-width: var(--preview-width);
}

.fix-th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.msgBox {
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    top: 2vw;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: 0px 1vw 0 2vw;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    font-size: 3vw;
}

.msgBoxLine {
    margin: 1vw 0 0 0;
    padding: 0 1vw;
    width: fit-content;
    border-radius: 1vw;
}

.close {
    position: sticky;
    top: 1vw;
    float: right;
    border-radius: 1vw;
    line-height: 100%;
    font-size: 6vw;
}