body, html {
    height: 100%;
    margin: 0;
    border: 0;
    background-color: #181a1b;
    color: white;
}

textarea, input {
    background-color: #2e3133;
    border: gray 1px solid;
    color: white;
    outline: none;
    padding: 5px 10px;
}

textarea:focus, input:focus {
    border: white 1px solid;
}

a {
    color: #00ffa8;
}

/* li point */
::marker {
    color: #00f2ff;
}

input[type=submit], input[type=button], button {
    color: white;
    background-color: #02937c;
    border-color: #0fffd7;
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border: none;*/
    cursor: pointer;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
    background-color: #037765;
    /*border-color: green;*/
}
input[type=submit]:active, input[type=button]:active, button:active {
    background-color: #023c31;
    /*border-color: green;*/
}

.msgBox {
    background-color: #6d777599;
    backdrop-filter: blur(6px);
}
.msgBoxLine {
    /* word-wrap: break-word; */
    /* break-all 有遮挡时会换行 */
    word-break: break-all;
    width: fit-content;
    background-color: #2b2b2b82;
}
mok { color: lime; }
mer { color: #f7ae00; }
mrun { color: #0fffd7; }
.close {
    cursor: pointer;
    background-color: green;
}
.close:hover {
    background-color: #b97900;
}